/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Chivo');
/* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); */
body{
  font-family: 'Chivo', sans-serif;
  /* font-family: 'Press Start 2P', cursive; */
  background-color: #222222;
  color: white;
}

button:disabled{
  cursor: not-allowed;
}




